<div class="chart-wrapper">
    <div class="chart-title"><div class="btn-group-xs">Area sample
        <input type="number" value="7" ng-model="days" ng-model-options="{debounce: 1000}"/>
        <div ng-if="showOptions"><span class="btn btn-default" ng-class="{'btn-primary': gb === option}" ng-click="updateGroupByOption(option)" ng-repeat="option in groupByOptions">{{option}}</span> </div>
    </div>

    </div>
    <div class="chart-stage">
        <div class="super-chart" ng-if="showChart">
            <div tbk-keen-areachart query="query" chart-options="chartOptions"></div>
        </div>
    </div>
    <div class="chart-notes">
        Wobei add = hinzufügen, remove = entfernen und try = unauthenticated-add entspricht.
    </div>
</div>